<div class="profile-card">
<div class="profile-card__img">  <%= gravatar_user @user %>
  <% if @user == current_user %>
    <%= link_to "Edit profile", edit_user_registration_path, class: "btn" %>
  <% end %>

</div>
<div class="profile-card__meta">
<div class="profile-card__meta__title">
<%= @user.username %>
</div>
  <div class="profile-card__meta__detail">
  <h3 class="selfies">  <%= @user.selfies.count %>selfies</h3>
  </div>
  <div class="profile-card__meta__detail">
  <h3 class="likes">  <%= @user.likes.count %> likes </h3>
  </div>
  <div class="profile-card__meta__detail">
  <h3 class="views">views</h3>
  </div>
  </div>
</div>
