<div class="lightbox" id="lightbox">
    <%=render partial: "selfies/show", locals: { selfie: @selfie }  %>
</div>
<% @selfies.each do |selfie| %>
<div class="card ">

    <div class="card-main">

    <%= link_to fetch_selfy_path(selfie.id), class: "show_lightbox", data: { featherlight: "mylightbox" }, remote: true do %>

      <img class="card-main-image" src="<%= selfie.photo.url if selfie.photo.url  %>" alt="Image Alt text">
    <% end %>



        </a>
        <div id="<%= selfie.id%>_likes">
            <%= render  partial: "selfies/likes/likes", locals: { selfie: selfie} %>
        </div>
        <!-- add class liked for image like by current user -->
    </div>
    <!-- .card-main -->
    <div class="card-footer">
        <div class="card-footer-avatar">
          <%= link_to  user_path(selfie.user.username) do %>
          <%= gravatar_for selfie.user %>
          <% end %>
        </div>
        <!-- .card-footer-avater -->
        <div class="card-footer-text">
            <a href="#" class="card-footer-title">  <%= link_to selfie.user.username,  user_path(selfie.user.username)  %></a>
            <div class="card-footer-info">

                <div class="card-footer-likes" id="<%= selfie.id %>_counter"><%= selfie.likes.count %></div>
                <a href="#" class="card-footer-views"><%= selfie.impressionist_count %></a>
            </div>
            <!-- .card-footer-info -->

        </div>
        <!-- .card-footer-text -->
    </div>
    <!-- .card-footer -->
</div>
<!-- .card -->
<% end %>
