<%= form_for @selfie,html: {class: "card login-card"} do |f| %>
  <%= render "shared/errors", object: @selfie %>

<div class="">
  <%= f.label :photo, class: "label" %>
  <img id="img_prev" width=300 height=300 src="#" alt="your image" class="img-thumbnail hidden"/>
  <%= f.hidden_field :photo_cache %>
  <%= f.file_field :photo, id: "avatar-upload", class: "fileupload" %>
</div>

<%= f.submit class: "btn" %>
<% end %>
