<% provide(:title, "Upload") %>
<%= form_for @selfie,html: {class: "card login-card"} do |f| %>
  <%= render "shared/errors", object: @selfie %>

<div class="">
  <%= f.label :photo, class: "label" %>
  <div class="img_prev hidden img-thumbnail"><img id="img_prev" src="#" alt="your image" class=""/></div>

  <%= f.hidden_field :photo_cache %>
  <%= f.file_field :photo, id: "avatar-upload", class: "fileupload" %>
</div>

<%= f.submit "Upload Selfie", class: "btn" %>
<% end %>
