<%= form_for @selfie,html: {class: "card login-card"} do |f| %>
  <%= render "shared/errors", object: @selfie %>
  <div class="">
    <%= f.label :title, class: "label" %>
    <%= f.text_field :title, class: "input" %>
  </div>

<div class="">
  <%= f.label :photo, class: "label" %>
  <img id="img_prev" width=300 height=300 src="#" alt="your image" class="img-thumbnail hidden"/>
  <%= f.hidden_field :photo_cache %>
  <%= f.file_field :photo, id: "avatar-upload" %>
</div>

<%= f.submit class: "btn" %>
<% end %>
<script>
$(function() {
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#avatar-upload").change(function(){
    $('#img_prev').removeClass('hidden');
    readURL(this);
  });
});

</script>
